<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="https://www.monta.ir/apaman/global.css" rel="stylesheet" type="text/css">
    <title>Uniqu</title>
</head>
<body style="
        background-image: url('images/bg.png');
        background-color: #f1642f;
        background-size: cover;
       ">

<div style="flex: 1; text-align: center; margin-top: 50px;">
    <div style="font-size: 35px;text-align: center; margin: 5px;color: #fff;font-weight: bolder">Uniqu</div>
    <a href="itms-services://?action=download-manifest&amp;url=https://www.monta.ir/apaman/download/apaman/manifest.plist">
        <img alt="IOS Download"
             src="images/iosLogo.jpeg"
             style="
                    padding: 3px;
                    background: silver;
                    border-radius: 13px;
                    width: 150px; height: 70px;margin-top: 15px;"
        >
    </a>
</div>
<div style="flex: 1; text-align: center; margin-top: 20px;">
    <a href="download/apaman/Uniqu.apk">
        <img alt="Android Download"
                style="
                    padding: 3px;
                    background: silver;
                    border-radius: 13px;
                    width: 150px; height: 70px;"
                src="images/androidLogo.jpg">
    </a>
</div>

</body>
</html>
