<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="https://www.monta.ir/apaman/global.css" rel="stylesheet" type="text/css">
    <title>انصراف از پرداخت</title>
    <script type="text/javascript">
        function getUrlVars() {
            var vars = {};
            var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
                vars[key] = value;
            });
            return vars;
        }
    </script>

</head>
<body  style="background: #fff 0% 0% no-repeat padding-box;">


<div style="
    text-align:center;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    z-index: 50;


">
    <div style="
    flex: 1;
     display: flex;
    text-align:center;
      height: 100%;
      width: 100%;
      flex-direction: column;



   ">
        <div style="
          height: 100%;
          width: 100%;
          display: flex;
          flex: 1;
          text-align:center;
          flex-direction: column;
          text-align: center;
           display: inline-block;
          margin-top: 30px;
         ">
            <img alt="IOS Download"
                 src="https://www.monta.ir/apaman/images/cancel.png"
                 style="
                         margin-top: 40px;
                        text-align: center;
                        display: inline-block;
                        width: 55px;
                        height: 55px;"
            >
                <div>
                    <p style="
                  margin-top: 0px;
                  text-align: center;
                  font: Bold 18px/41px IRANSansWeb_Bold;

                  color: #444;
                  opacity: 1;
                "
                    >انصراف از پرداخت</p>

                </div>
                <div>
                    <p style="
                  margin-top: -20px;
                  text-align: center;

                  color: #999;
                  opacity: 1;
                "
                    >شما از پرداخت انصراف دادید.</p>

                </div>

                <div style="margin-left: 15px; margin-right: 15px; margin-top: 15px;">
                    <div style="
       flex-direction: row;
        display: flex;

        justify-content: space-between;

        height: 40px;

     ">
                  <p style="
                  text-align: center;
                  color: #007e74;
                  opacity: 1;
                  font-size: 14px;
                "
                        >  </p>
                        <p style="
                  text-align: center;
                  color: #FFFFFF;
                  opacity: 1;
                   font-size: 14px;
                "
                        ></p>

                    </div>
                </div>
        </div>
        <div style="
          text-align:center;
          height: 70px;
          width: 100%;

       ">
            <a style="text-decoration:none"  href="http://apamanapp.ir/PayAnnounce?OrderId=<%= payResult.OrderId%>&Token=<%=payResult.Token%>&status=<%=payResult.status%>">
                <div style="
                    margin-top: 1px;
                    background: #ea4523 0% 0% no-repeat padding-box;
                    border-radius: 10px;
                    opacity: 1;
                    padding:10px;
                    margin-left: 16px;
                    margin-right: 16px;
                    font: Bold 16px/28px IRANYekan;
                    color: #fff;
                 ">بازگشت به اپامن
                </div>
            </a>
        </div>

    </div>


</div>

</body>
</html>
